<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
		    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		    <meta name="viewport" content="width=device-width, initial-scale=1"/>
		    <meta name="description" content=""/>
		    <meta name="author" content=""/>
		
		    <title>Agenda Contatos</title>
</head>
<body>

<form th:action="@{/contatos}" method="get" >
					<button class="btn btn-md btn-warning btn-block" type="Submit">ACESSO SEM LOGIN!</button>
				</form>	

</body>
</html>